@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #222327;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}
.nav {
  width: 400px;
  height: 70px;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.nav ul {
  display: flex;
  width: 350px;
}
.nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.nav ul li a .icon {
  position: relative;
  display: block;
  text-align: center;
  line-height: 75px;
  font-size: 1.75em;
  color: var(--clr);
  transition: 0.5s;
}
.nav ul li.active a .icon {
  transform: translateY(-32px);
}
.nav ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 00.5s;
  opacity: 0;
}
.nav ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid var(--clr);
  background: #f48982;
  transition: 00.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  left: -22px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  right: -22px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px 0 0 var(--clr);
}
